<!-- Welcome Section -->
<section id="gtco-welcome" class="bg-white section-padding">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2"></div>
        <div class="col-sm-7 py-5 pl-md-0 pl-4">
          <div class="heading-section pl-lg-5 ml-md-5">
            <span class="subheading">
              {{ i18n "About" }}
            </span>
            <h2>
              {{ i18n "Welcome_to" }} {{.Site.Title}}
            </h2>
          </div>
          <div class="pl-lg-5 ml-md-5">
            <p>
              {{ i18n "AboutDescriptionText" }}
            </p>
            <h3 class="mt-5">{{ i18n "Special_Recipe" }}</h3>
            <div class="row">
              <div class="col-4">
                <a href="#" class="thumb-menu">
                  <img
                    class="img-fluid img-cover"
                    src='{{"img/hero-1.jpg" | absURL }}'
                  />
                  <h6>{{ i18n "Australian_Organic_Beef" }}</h6>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="thumb-menu">
                  <img
                    class="img-fluid img-cover"
                    src='{{"img/hero-1.jpg" | absURL }}'
                  />
                  <h6>{{ i18n "Australian_Organic_Beef" }}</h6>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="thumb-menu">
                  <img
                    class="img-fluid img-cover"
                    src='{{"img/hero-1.jpg" | absURL }}'
                  />
                  <h6>{{ i18n "Australian_Organic_Beef" }}</h6>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Welcome Section -->
