<footer class="mastfoot pb-5 bg-white section-padding pb-0">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4">
         		<div class="footer-widget pr-lg-5 pr-0">
         			<img src="{{ .Site.Params.logo | absURL }}" class="img-fluid footer-logo mb-3" alt="">
	         		<p>{{ .Site.Params.footerText | safeHTML}}</p>
	         		<nav class="nav nav-mastfoot justify-content-start">
		                <a class="nav-link" href="{{.Site.Params.facebook}}">
		                	<i class="fab fa-facebook-f"></i>
		                </a>
		                <a class="nav-link" href="{{.Site.Params.twitter}}">
		                	<i class="fab fa-twitter"></i>
		                </a>
		                <a class="nav-link" href="{{.Site.Params.instagram}}">
		                	<i class="fab fa-instagram"></i>
		                </a>
		            </nav>
         		</div>

         	</div>
         	<div class="col-lg-4">
         		<div class="footer-widget px-lg-5 px-0">
         			<h4>{{ i18n "Open_Hours" }}</h4>
	         		<ul class="list-unstyled open-hours">
		                <li class="d-flex justify-content-between"><span>Monday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Tuesday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Wednesday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Thursday</span><span>9:00 - 24:00</span></li>
		                <li class="d-flex justify-content-between"><span>Friday</span><span>9:00 - 02:00</span></li>
		                <li class="d-flex justify-content-between"><span>Saturday</span><span>9:00 - 02:00</span></li>
		                <li class="d-flex justify-content-between"><span>Sunday</span><span> Closed</span></li>
		              </ul>
         		</div>

         	</div>

         	<div class="col-lg-4">
         		<div class="footer-widget pl-lg-5 pl-0">
         			<h4></h4>
	         		<p>{{ i18n "Newsletter-Description" }}</p>
	         		<form id="newsletter">
						<div class="form-group">
							<input type="email" class="form-control" id="emailNewsletter" aria-describedby="emailNewsletter" placeholder="Enter email">
						</div>
						<button type="submit" class="btn btn-primary w-100">{{ i18n "Submit" }}</button>
					</form>
         		</div>

         	</div>
         	<div class="col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">{{.Site.Copyright | safeHTML }} | Design by <a href="https://freehtml5.co/" target="_blank">FreeHTML5.co</a> | Powered by <a href="https://gohugo.io">Hugo</a></p>
         	</div>

        </div>
    </div>
</footer>
</div>
</div>
	<!-- External JS -->
	<script src="{{ "js/jquery.min.js" | absURL }}"></script>
	<script src="{{ "js/moment.min.js" | absURL }}"></script>
	<script src="{{ "vendor/bootstrap/popper.min.js" | absURL }}"></script>
	<script src="{{ "vendor/bootstrap/bootstrap.min.js" | absURL }}"></script>
	<script src="{{ "vendor/select2/select2.min.js" | absURL}}"></script>
	<script src="{{ "vendor/owlcarousel/owl.carousel.min.js" | absURL}}"></script>
	<script src="{{ "js/featherlight.min.js" | absURL}}" ></script>
	<script src="{{ "vendor/stellar/jquery.stellar.js" | absURL}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "js/tempusdominus-bootstrap-4.min.js" | absURL}}" ></script>
	{{if .IsHome }}
	<!--Main JS -->
	<script src="{{ "js/app.min.js"  | absURL}}"></script>
	{{end}}
	<!--Google Analytics-->
	{{ if .Site.Params.enableGA }}
		{{ template "_internal/google_analytics.html" . }}
	{{end}}

