 <div id="side-nav" class="sidenav">
        <a href="javascript:void(0)" id="side-nav-close">&times;</a>

        <div class="sidenav-content">
            <p>
                Kuncen WB1, Wirobrajan 10010, DIY
            </p>
            <p>
                <span class="fs-16 primary-color">(+68) 120034509</span>
            </p>
            <p>info@yourdomain.com</p>
        </div>
    </div>	<div id="side-search" class="sidenav">
        <a href="javascript:void(0)" id="side-search-close">&times;</a>
        <div class="sidenav-content">
            <form action="">

                <div class="input-group md-form form-sm form-2 pl-0">
                  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <button class="input-group-text red lighten-3" id="basic-text1">
                        <i class="fas fa-search text-grey" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>

            </form>
        </div>


    </div>	<div id="canvas-overlay"></div>
        <div class="boxed-page">
            <nav id="navbar-header" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand navbar-brand-center d-flex align-items-center p-0 only-mobile" href='{{.Site.BaseURL}}'>
                <img src="{{.Site.Params.logo | absURL }}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-between">
                    <li class="nav-item only-desktop">
                        <a class="nav-link" id="side-nav-open" href="#">
                            <span class="fa fa-bars"></span>
                        </a>
                    </li>
                    <div class="d-flex flex-lg-row flex-column">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ .Site.BaseURL }}">{{ i18n "Home" }} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-welcome">{{ i18n "About" }} </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-menu">{{ i18n "Menu" }} </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ i18n "Specials" }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{{ .Site.BaseURL }}#gtco-special-dishes">{{ i18n "Beef_Steak_Sauce" }}</a>
                              <a class="dropdown-item" href="{{ .Site.BaseURL }}#gtco-special-dishes">{{ i18n "Salmon_Zucchini" }}</a>
                            </div>
                        </li>
                    </div>
                </ul>

                <a class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop" href="#">
                    <img src="{{.Site.Params.logo | absURL }}" alt="">
                </a>
                <ul class="navbar-nav d-flex justify-content-between">
                    <div class="d-flex flex-lg-row flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-team">{{ i18n "Team" }}</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{ .Site.BaseURL }}blog">{{ i18n "Blog" }}</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{ .Site.BaseURL }}tags">{{ i18n "Tags" }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-reservation">{{ i18n "Reservation" }}</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a id="side-search-open" class="nav-link" href="#">
                            <span class="lnr lnr-magnifier"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
